/* You can add global styles to this file, and also import other style files */
@import "src/sass/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
      background-color: $gray;
      font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
      line-height: normal;
}

a {
      text-decoration: none;
}
  
ul {
      list-style: none;
}
button {
      cursor: pointer;
}

input[type=text], input[type=email], input[type=password] {
      margin-top: 0.5em; 
      padding: 8px;
      border: 1px solid $gray;
      border-radius: 10px;
}

input:focus {
      outline: none;
      box-shadow: 0 0 2px $dark-green;
}

label {
      color: $gray-dark;
      font-size: 12px;
}

.main-container {
      width: 100%;
      height: 100vh;
      box-sizing: content-box;
      display: flex;
      flex-direction: column;

      @media(min-width: $width-desktop) {
            display: grid;
            grid-template-columns: 4fr 6fr;
            grid-column-gap: 5em;
      }
}
