<main class="dashboard">
    <aside [ngClass]="!isShrink ? 'menu' : 'menu shrink' ">
        <div class="menu__logo">
            <img src="/assets/dashboard/images/coink.png" alt="coink" width="145" height="100%">
        </div>
        <div class="menu__content">
            <div class="menu__photo-user">
                <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="photo user" width="120" height="120">
            </div>
            <nav class="menu__navbar">
                <ul class="menu__navbar-items">
                    <li>
                        <a href="">Tarjetas Visa en dpsipensadores</a>
                    </li>
                    <li>
                        <a href="">Tarjetas Visa en dpsipensadores</a>
                    </li>
                    <li>
                        <a href="">Tarjetas Visa en dpsipensadores</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    
    <section class="container">
        <header class="header">
            <nav class="navbar">
                <img src="/assets/dashboard/images/icon-menu.svg" alt="menu icon" (click)="slideMenu()">
                <ul class="navbar__items">
                    <li><a href="#" class="navbar__link">Backoffice</a></li>
                </ul>
                <img class="navbar__login" src="/assets/dashboard/images/person.svg" alt="menu person">
            </nav>
        </header>
        <app-character></app-character>
    </section>

</main>