@import "src/sass/variables";

.left, .right {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 2rem;
}

.left{

      align-items: center;
      background-color: $dark-green;
      color: $aqua-green;
      display: grid;
      justify-items: center;
      text-align: center;

      &__box{
            @media(min-width: $width-desktop) {
                  align-items: center;
                  display: grid;
                  gap: 29px;
                  grid-auto-rows: min-content;
                  justify-items: center;
                  max-width: 400px;
            }  
      }
}

.right {
      &__box {
            @media(min-width: $width-desktop) {
                  display: grid;
                  grid-template-rows: 2fr 2fr;
                  margin: 0 auto;
                  text-align: left;
                  width: 480px;
            }
      }
      .nav{
            padding: 20px 0px;
            &__link{
                  color: $gray-dark;
            }
            &__register-link{
                  color: $dark-green;
            }
            & ul {
                  @media(min-width: $width-desktop) {
                        display: flex;
                        justify-content: flex-end;
                        gap: 4rem;
                  } 
            }
      }
      .login {
            &__title{
                  color: $dark-green;
                  font-size: 30px;
            }
            & input {
                  padding: 8px;
                  border: 1px solid $gray;
                  border-radius: 10px;
            }
      
            &__fields {
                  color: $gray-dark;
                  font-size: 14px;
            }
            &__remember {        
                  display: flex;
                  justify-content: left;
            }
            &__remember-title {
                  color: $green;
                  font-size: 15px;
                  margin-left: 8px;
            }
            &__button {
                  background-color: $dark-green;
                  color: white;
                  width: 250px;
                  padding: 8px;
                  border: 1px solid $gray;
                  border-radius: 20px;
            }

            &__title, & input[type=text],& input[type=password], &__remember, &__button {
                  margin-bottom: 20px;
                  width: 95%;
            }
      }
}


