<main class="main-container">
      <section class="left">
            <div class="left__box">
                  <h2>!Bienvenido a la herramienta de registro Coink!</h2>
                  <img src="assets/img/login/pigs.png" class="left__img" alt="pigs" width="250px">
                  <p>Coink para tu dia a dia. Empieza ahorrando y cumple tus sueños con propósito.</p>
                  <img src="assets/img/login/pig.png" class="left__img" alt="pig" width="250px">
            </div>
      </section>
      <section class="right">
            
            <div class="right__box">
                  <nav class="nav">
                        <ul>
                              <li>
                                    <a href="#" class="nav__link">
                                          ¿Aun no tienes cuenta?
                                    </a>
                              </li>
                              <li>
                                    <a routerLink="/auth" class="nav__register-link">Registrate ahora</a>
                              </li>
                        </ul>
                  </nav>
                  <div class="login">
                        <h3 class="login__title">Iniciar sesión en Coink</h3>
                        <label for="email" class="login__fields">Correo electrónico</label>
                        <input type="email" name="email" />
                        <label for="password" class="login__fields">Contraseña</label>
                        <input type="password" name="password" />
                        <div class="login__remember">
                              <input class="login__remember-check" type="checkbox" name="check" />
                              <label for="check" class="login__remember-title">Recuerdame</label>
                        </div>
                        
                        <button class="login__button">
                              Iniciar sesión
                        </button>
                        <a href="#" class="login__forget-password"></a>
                  </div>
            </div>
      </section>
</main>