<div class="content">
    <h1>Solicitud tarjetas</h1>
    <div class="content__filters">
        <div class="content__filter">
            <span>Persoje</span>
            <input type="text" name="" id="">
        </div>
        <div class="content__filter">
            <span>Persoje</span>
            <input type="text" name="" id="">
        </div>
    </div>
    <div class="content__buttons">
        <button class="content__button-gray">Limpiar filtros</button>
        <button class="content__button-dark">Buscar</button>
    </div>
    <table>

    </table>
</div>