<div class="content">
    <h1>Solicitud tarjetas</h1>
    <section class="content__box-filters">
        <div class="content__filters">
            <div class="content__filter">
                <p>Persoje</p>
                <input type="text" name="" id="" placeholder="Valen">
            </div>
            <div class="content__filter">
                <p>Persoje</p>
                <input type="text" name="" id="" placeholder="23/07/2022">
            </div>
        </div>
        <div class="content__buttons">
            <button class="content__button-gray">Limpiar filtros</button>
            <button class="content__button-dark">Buscar</button>
        </div>
    </section>
    <div class="content__table">
        <table>

        </table>
    </div>
</div>