@import "src/sass/variables";

.dashboard {
    display: flex;
}

.content {
    padding: 4rem;
    h1 {
        color: $green-dark-second;
        font-size: 33px;
    }
    h1,
    section,
    &__filters,
    &__buttons {
        padding: 15px 0;
    }
    &__filters {
        display: flex;
        justify-content: flex-start;
    }
    &__filter {
        font-size: 16px;
        font-style: bold;
        & input {
            height: 20px;
            border-style: hidden;
            border-bottom-style: groove;
            background-color: transparent;
        }
    }
    &__filter,
    &__button-gray,
    &__button-dark {
        margin-right: 20px;
    }
    &__box-filters {
        max-width: 500px;
    }
    &__buttons {
        display: flex;
        & button {
            border-color: $green-dark-second;
            height: 32px;
            width: 145px;
        }
    }
    &__button-gray {
        color: $green-dark-second;
    }
    &__button-dark {
        background-color: $green-dark-second;
        color: white;
    }
}


table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  th.mat-header-cell {
    background: $green-dark-second;
    color: white;
  }